form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
}

form .input {
  display: block;
  width: 100%;
  padding: 5px;
  margin: 4px;
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
form .btn {
  width: auto;
}
